select {
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 20px;
  color: "colors.black1";
  border: 1px solid "${colors.border3}";
  border-radius: 5px;
}
